<h1>My posts in <%=@place["name"] %></h1>


<ul>
<% for post in @posts %>
  <h2><%= post["title"] %></h2>
  <h3><%= post["posted_on"] %></h3>
  <p><%= post["description"] %></p>
  <p> </p>
  <p> </p>
<% end %>
</ul>


<p><a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a></p>
<p><a href="/places/">Back to places I've been</a></p>